<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465928965761-cf9icudn7o2ajm48dpgd4oek1940cqfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465928965761-cf9icudn7o2ajm48dpgd4oek1940cqfu</string>
	<key>API_KEY</key>
	<string>AIzaSyBU7CnOzRfXrhsq1BeAuniMheopzooJ-DM</string>
	<key>GCM_SENDER_ID</key>
	<string>465928965761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalqps</string>
	<key>PROJECT_ID</key>
	<string>qps-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>qps-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465928965761:ios:48303d3d0673347f884780</string>
</dict>
</plist>